.hero {
  text-align: center;
}

.film {
  &__desc {
    padding: 0 1.875rem;
  }
  .container {
    padding: 0 15.625rem;
    .film__trailer {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 1.5625rem;
      height: 0;
      .trailer__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.crew {
  padding: 0 1.875rem;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.875rem;
      padding: 0 1.875rem;
      &__image {
        img {
          width: 6.25rem;
          height: auto;
          border-radius: 50%;
        }
      }
    }
  }
}

.about {
  padding: 0 1.875rem;
}

.back {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.875rem;
  a {
    position: relative;
    text-decoration: none;
    color: $black;
    i {
      color: $pink;
    }
    &::before {
      content: "";
      position: absolute;
      top: 1.6875rem;
      background-color: $pink;
      width: 100%;
      height: 0.25rem;
      border-radius: 0.25rem;
    }
  }
}

.footer {
  background-color: $black;
  &__logo {
    padding: 1.25rem 1.875rem;
    border-bottom: 1px solid $pink;
    color: $white;
    a {
      text-decoration: none;
      color: $white;
    }
  }
  .container {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 1px solid $pink;
    .footer__sitemap {
      width: 50%;
      padding: 1.25rem 1.25rem 1.25rem 1.875rem;
      // padding-right: 20px;
      // padding-left: 1.875rem;
      border-right: 1px solid $pink;
      a {
        display: block;
        text-decoration: none;
        color: $white;
        transition: color 300ms ease-in-out;
        &:not(:last-child) {
          margin-bottom: 0.625rem;
        }
        &:hover {
          color: $pink;
        }
      }
    }
    .footer__connect {
      width: 50%;
      padding: 1.25rem 1.875rem 1.25rem 1.25rem;
      // padding-left: 20px;
      // padding-right: 1.875rem;
      a {
        display: block;
        text-decoration: none;
        color: $white;
        transition: color 300ms ease-in-out;
        &:not(:last-child) {
          margin-bottom: 0.625rem;
        }
        &:hover {
          color: $pink;
        }
      }
    }
  }
  &__copy {
    padding: 0.3125rem 1.875rem;
    text-align: center;
    color: $white;
  }
}

@media only screen and(max-width:1200px) {
  .film {
    .container {
      padding: 0 1.875rem;
    }
  }
}
