html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
  background-color: hsl(0, 0%, 0%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

a {
  font-weight: 400;
}

.back {
  margin-top: 1.875rem;
  padding: 0 1.875rem;
  .back-home {
    position: relative;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    i {
      color: hsl(326, 100%, 61%);
    }
    &::before {
      content: "";
      position: absolute;
      top: 1.6875rem;
      background-color: hsl(326, 100%, 61%);
      width: 100%;
      height: 0.25rem;
      border-radius: 0.25rem;
    }
  }
}

.container {
  margin-top: 3.75rem;
  padding: 0 15.625rem;
  .movie {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 1.5625rem;
    height: 0;
    &__full {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
